/* MintChip™ 2016 */
body, div {
  margin: 0;
  padding: 0;
}

.message {
  display: block;
  width: 320px;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.message img {
  max-width: 260px;
  margin-bottom: 20px;
}

.message p {
  color: #2C4389;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}